<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="SkiaSharp" version="1.59.3" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="SkiaSharp.Views.Forms" version="1.59.3" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Telerik.UI.for.Xamarin" version="2018.2.620.2" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.FFImageLoading" version="2.4.3.840" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.2.25" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.5.1.527436" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>